html{
    height: 100%;
    background: linear-gradient(180deg, #FF8A8B 0%, #FFBFAC 100%);
    background-attachment:fixed;
}

#container{
    background: radial-gradient(301.17% 150.36% at 50.04% -31.22%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 45px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height:800px;
    width: 1103px;
}

.navbar{
    display:flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

#logo{
    font-size: 30px;
    color: #D54546;
}

.navbottons{
    margin-left:auto;
    margin-right:5%;
}

.navbotton{
    margin-right:20px;
}

a{
    font-size: 18px;
    color: #7F7D7D;
    text-decoration:none;
}

#analyze{
    margin-left: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color:#FFFFFF;
    background: linear-gradient(274.65deg, #D54546 1.05%, rgba(213, 69, 70, 0) 127.07%);
    border-radius: 15px;
}

#music{
    position: absolute;
    top:8.5%;
    left: 55%;
}


#time{
    text-align: center;
    z-index : 1;
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 97px;
    color: #FFFFFF;
    width: 371px;
    height: 371px;
    line-height: 371px;
    border: solid 27px;
    border-radius: 50%;
    border-color: #D54546;
    font-variant-numeric: tabular-nums;
}

#number{
    text-align: center;
    z-index : 1;
    font-size: 15px;
    font-style: times;
    color: #FFFFFF;
}

#timer{
    position: absolute;
    top: 40%;
    left: 50%;
    overflow:hidden;
    border-radius:50%;
    width:425px;
    height:425px;
    transform: translate(-50%, -50%);
}

#rate{ 
    color:#f00; 
    top:69%;
    left: 32%;
    font-size:50px; 
    margin:10px auto;
    border : 5px solid white; 
    border-radius:25%;
    width:400px;
    height:20px;
    overflow:hidden;
    position:absolute;
    display:none;
}

#progress {
    background : red;
    height: 20px;
    width: 0px;
    position:absolute;
    bottom:0;
}

#filler{
    background : #ddffcc;
    height: 0px;
    width: 425px;
    position:absolute;
    bottom:0;
  }

#skip{
    position: absolute;
    text-align: center;
    width: 170px;
    height: 50px;
    left: 42%;
    top: 730px;
    font-family: times;
    font-size : 30px;
    display:block;
}

#Quote{
    position: absolute;
    width: 500px;
    height: 60px;
    left: 28%;
    top: 600px;
    text-align: center;
    display:none;
}

#quick{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 4px 4px #D54546;
    padding: 10px 50px;
    font-size: 20px;
}

#pic{
    margin-left: -1100px;
    margin-top: 340px;
    position: absolute; z-index: 1;
    zoom: 33%;
}

.buttons{
    background: linear-gradient(274.65deg, #D54546 1.05%, rgba(213, 69, 70, 0) 127.07%);
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-family: Poppins;
    font-style: normal;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

.buttons:hover{
    background-color: white;
}

.inputbar{
    background: #FFFFFF;
    border-radius: 50px;
    border:#FFFFFF;
    width: 290px;
    padding: 6px 10px;
    outline: none;
}

.subinfo_name{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 42px;
    color: #000000;
}

.subinfo{
    margin-top: 50px;
}

#form_info{
    display:block;
    position:absolute;
    top:60%;
    left:20%;
}

#inputtypes{
    display:flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 50px;
    border:#FFFFFF;
    width: 310px;
    outline: none;  
    position:absolute;
}

#inputnotes{
    display:flex;
    position:absolute;
    top:0%;
    left:120%;
}

#notes{
    display:flex;
    position:absolute;
    top:100%;
    left:0%;
}

#num_text{
    position: absolute;
    width: 80px;
    top: 83%;
    left: 122%;
}

#or{
    position: absolute;
    color:white;
    top: 82%;
    left: 108%;
}

input[type="text"], input[type="number"]{
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
}

label{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 10px;
    margin-left:-100px;
}

#label1{
    margin-left:0px;
}


input[type=radio] {
    visibility: hidden;
    display: none;
}

input[type=radio]:checked + label{
    background-color: #D54546;
    border-radius: 50px;
    color: white;
    padding: 6px 10px;
}

input[type=range] {
    cursor: pointer;
    border-radius: 50px;
    background:black;
}

#pomonum{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 50px;
    border:#FFFFFF;
    width: 310px;
    height: 37px;
    outline: none;
    padding: 0px 0px;
}

#num1{
    margin-left:0px;
}

.tomato{
    font-size: 28px;
    margin-left: 0px;
    padding: 0px 20px;
    line-height: 37px;
}

.tomatoradio:checked + .tomato {
    background-color: #D54546;
    border-radius: 50px;
    padding: 0px 20px;
}